<!-- FILL -->
<section class="gen-main__customize-menu">
  <div class="customize-menu__container js-collapsable">
    <img
      class="customize-menu__container-logo"
      src="./assets/images/keyboard.svg"
      alt="keyboard icon"
    />
    <h2 class="customize-menu__container-title">Rellena</h2>
    <button class="customize-menu__container-btn js-arrow"></button>
  </div>

  <form
    class="customize-menu__form js__hidden js-section"
    action=""
    method="post"
  >
    <label class="customize-menu__form-label" for="fullName"
      >Nombre completo
    </label>
    <input
      class="customize-menu__form-input js-input js-input-name"
      placeholder="Ej: Sally Jill"
      type="text"
      required
      id="fullName"
      name="name"
    />
    <p class="js__error-message-name js__hidden">Demasiado largo</p>

    <label class="customize-menu__form-label" for="position">Puesto</label>
    <input
      class="customize-menu__form-input js-input js-input-job"
      placeholder="Ej: Front end"
      type="text"
      required
      id="position"
      name="job"
    />
    <p class="js__error-message-job js__hidden">Demasiado largo</p>
    <div class="customize-menu__form-box">
      <button
        class="customize-menu__form-box--button js__box-button"
        type="button"
      >
        Añadir imagen
      </button>
      <input
        type="file"
        name=""
        id="img-selector"
        class="customize-menu__form-box-hidden js__box-button-hidden js-input"
        name="photo"
      />

      <div class="customize-menu__form-image">
        <div
          class="customize-menu__form-image--profile js__profile-image"
          style="
            background-image: url(https://via.placeholder.com/300x300/cccccc/666666/?text=IMAGE);
          "
        ></div>
        <div
          class="customize-menu__form-image--preview js__profile-preview"
        ></div>
      </div>
    </div>
    <label class="customize-menu__form-label" for="email">Email</label>
    <input
      class="customize-menu__form-input js-input js-input-email"
      placeholder="Ej: sally.hill@gmail.com"
      type="email"
      required
      id="email"
      name="email"
    />
    <label class="customize-menu__form-label" for="telephone">Teléfono </label>
    <input
      class="customize-menu__form-input js-input js-input-phone"
      placeholder="Ej: 555-555-555"
      type="tel"
      required
      id="telephone"
      name="phone"
    />
    <label class="customize-menu__form-label" for="linkedin">Linkedin </label>
    <input
      class="customize-menu__form-input js-input js-input-linkedin"
      placeholder="Ej: linkedin.com/in/sally-hill"
      type="text"
      required
      id="linkedin"
      name="linkedin"
    />
    <label class="customize-menu__form-label" for="github">Github </label>
    <input
      class="customize-menu__form-input js-input js-input-github"
      placeholder="Ej: @sally-hill"
      type="text"
      required
      id="github"
      name="github"
    />
  </form>
</section>
