// Colors
$color-primary: #f5f5f5;
$color-secondary: #438792;
$color-tertiary: #e17334;
$color-quaternay: #114e4e;
$color-border: #d8d8d8;
$color-deepred: #420101;
$color-darkturquoise: #3e5b65;
$color-ferrarired: #bd1010;
$color-goldenorange: #eab052;
$color-greenish: #a2deaf;
$color-orange: #e95626;
$color-lightgrey: #a0c0cf;
$color-softblue: #bfcdd0;
$color-sofwhite: #dde9ed;
$color-softgrey: #54585a;
$color-white: #ffffff;
$color-softbrown: #c5c5c5;
$color-softpink: #ccc;
$color-mediumblue: #00a0f5;
$color-softwhite: #d5d5d5;

$color-background: #261c3a;
$color-background-medium: #990066;
$color-background-medium-light: #1bb29c;
$color-background-medium-light-extra: #ffff33;
$color-background-light: #eeecf3;

// Font colors
$fontColor-main: #e17334;
$fontColor-secondary: #114e4e;
$fontColor-tertiary: #54585a;
$fontColor-footer: #6b6b6b;
$fontColor-light: #ffffff;
$fontColor-blueish: #438792;
$fontColor-greenish: #a2deaf;

// Fonts
$fontFamily-title: 'Merriweather', serif;
$fontFamily-text: 'Open Sans', sans-serif;
$fontFamily-title-secondary: 'Montserrat', sans-serif;

// Breakpoints
$tablet-min: 768px;
$desktop-min: 1200px;
