@import "../core/variables";
@import "../core/mixins";
@import "../core/keyframes";

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  @include tablet {
    height: 100vh;
  }
}
.gen-main {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  min-height: auto;
  background-color: $color-background;
  @include tablet {
    background-color: $color-background;
    padding: 20px 40px 20px 40px;
    display: grid;
    grid-template-columns: 326.5px 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
  }
  &__customize {
    padding: 27px 20px 0px 20px;
  }
  &__container {
    background-image: linear-gradient(
      to bottom,
      $color-background,
      $color-background-light
    );
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 38px 0px 40px 0px;
    @include tablet {
      margin: 0px;
      min-width: 330px;
      width: auto;
      height: auto;
      border-radius: 6px;
      grid-column: 2/3;
      grid-row: 1/2;
    }
    &-inner {
      width: 240px;
    }
  }
  &__btn--reset {
    text-transform: capitalize;
    font-family: $fontFamily-text;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: normal;
    color: $color-background-medium-light-extra;
    width: 75px;
    height: 30px;
    border-radius: 15px;
    border: solid 1px $color-background-medium;
    margin: 0 0 20px 0;
    padding: 0px 0px 0px 20px;
    background-color: $color-background-medium;
    background-image: url(../../images/trash.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: left 10px bottom 7px;
    @include tablet {
      align-self: flex-start;
    }
  }
  &__card {
    width: 240px;
    height: 330px;
    border-radius: 2px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    background-color: $color-white;
    padding: 21px 0 0 0;
    margin: 10px 0px;
  }
}
.card {
  &__name-surname {
    font-family: $fontFamily-title-secondary;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: $color-quaternay;
    padding: 0 0 4px 20px;
    border-left: 5px solid $color-secondary;
  }
  &__occupation {
    font-family: $fontFamily-title-secondary;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: $color-softgrey;
    padding: 0 0 0 20px;
    border-left: 5px solid $color-secondary;
  }
  &__photo {
    width: 240px;
    height: 200px;
    margin: 10px 0 0 0;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include image-carrousel;
  }
  &__img {
    &-1,
    &-2,
    &-3,
    &-4,
    &-5 {
      width: 100%;
      position: absolute;
      margin-top: 0;
      margin-left: 0;
    }
  }
  &__contact {
    display: flex;
    padding: 10px 0 0 10px;
    &-container {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      border: solid 2px $color-greenish;
      text-align: center;
      margin: 0 0 0 10px;
    }
    &-email,
    &-linkedin,
    &-github {
      font-size: 9px;
      color: $color-quaternay;
      line-height: 32px;
    }
    &-call {
      font-size: 12px;
      color: $color-quaternay;
      line-height: 36px;
    }
  }
}
.card__name-surname.palette-1,
.js-icons.palette-1 {
  color: $color-quaternay;
}
.card__name-surname.palette-2,
.js-icons.palette-2 {
  color: $color-deepred;
}
.card__name-surname.palette-3,
.js-icons.palette-3 {
  color: $color-darkturquoise;
}
.card__name-surname.palette-1,
.card__occupation.palette-1 {
  border-color: $color-secondary;
}
.card__name-surname.palette-2,
.card__occupation.palette-2 {
  border-color: $color-ferrarired;
}
.card__name-surname.palette-3,
.card__occupation.palette-3 {
  border-color: $color-goldenorange;
}
.card__contact-container.palette-1 {
  border-color: $color-greenish;
}
.card__contact-container.palette-2 {
  border-color: $color-orange;
}
.card__contact-containeryass.palette-3 {
  border-color: $color-lightgrey;
}
.customize-form__container {
  display: flex;
  flex-direction: row;
  position: relative;
  &-title {
    font-family: $fontFamily-text;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 10px;
    color: $color-background-medium-light;
  }
  &-logo {
    width: 21px;
    height: 18px;
  }
}
.gen-main__customize {
  @include tablet {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    width: 326.5px;
  }
  &-design {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-border;
    padding-bottom: 10px;
    @include tablet {
      padding-bottom: 7px;
    }
  }
  &-menu {
    border-bottom: 1px solid $color-border;
    padding: 7px 0px 10px 0px;
    @include tablet {
      padding: 10px 0px 7px 0px;
      margin: 0px 0px 0px 0px;
    }
  }
}
.customize-design__colors {
  margin-top: 22px;
  margin-bottom: 30px;
  transition: ease 1s;
  @include tablet {
    margin-bottom: 23px;
  }
  &-title {
    text-transform: uppercase;
    font-size: 14px;
    font-family: $fontFamily-text;
    color: $color-background-light;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-left: 19px;
    width: 62px;
  }
}
.customize-design__colors1 {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-top: -35px;
  justify-content: flex-end;
  &-selection {
    background: $color-secondary;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    margin-top: 32px;
    margin-left: 82px;
  }
  &-boxes1 {
    width: 30px;
    height: 25px;
    background-color: $color-quaternay;
    margin-top: 28px;
    margin-left: 10px;
  }
  &-boxes2 {
    width: 30px;
    height: 25px;
    background-color: $color-secondary;
    margin-top: 28px;
  }
  &-boxes3 {
    width: 30px;
    height: 25px;
    background-color: $color-greenish;
    margin-top: 28px;
  }
}
.customize-design__colors2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  &-selection {
    background: $color-secondary;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    margin-top: 24px;
  }
  &-boxes1 {
    width: 30px;
    height: 25px;
    background-color: $color-deepred;
    margin-top: 20px;
    margin-left: 10px;
  }
  &-boxes2 {
    width: 30px;
    height: 25px;
    background-color: $color-ferrarired;
    margin-top: 20px;
  }
  &-boxes3 {
    width: 30px;
    height: 25px;
    background-color: $color-orange;
    margin-top: 20px;
  }
}
.customize-design__colors3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  &-selection {
    background: $color-secondary;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    margin-top: 24px;
  }
  &-boxes1 {
    width: 30px;
    height: 25px;
    background-color: $color-darkturquoise;
    margin-top: 20px;
    margin-left: 10px;
  }
  &-boxes2 {
    width: 30px;
    height: 25px;
    background-color: $color-goldenorange;
    margin-top: 20px;
  }
  &-boxes3 {
    width: 30px;
    height: 25px;
    background-color: $color-lightgrey;
    margin-top: 20px;
  }
}
/*RELLENA*/
.customize-form__container {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  margin: 0px 0px 0px 0px;
  position: relative;
  @include tablet {
    align-items: center;
  }
  &-logo {
    width: 21px;
    height: 18px;
    margin-top: 7px;
  }
  &-title {
    font-family: $fontFamily-text;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 10px;
    color: $color-background-medium-light;
  }
}
.customize-menu__form {
  font-size: 14px;
  margin-top: 20px;
  transition: ease 1s;
  &-label {
    display: flex;
    flex-direction: column;
    color: $color-background-light;
    line-height: 20px;
    margin-bottom: 7px;
    font-family: $fontFamily-text;
  }
  &-input {
    width: 100%;
    height: 30px;
    border: solid 2px $color-background-medium-light;
    outline-color: $color-background-medium-light;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 0px 0px 0px 10px;
    @include tablet {
      width: 100%;
    }
  }
  &::-webkit-input-placeholder {
    color: $color-softbrown;
  }
  &-box {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px 20px 0px;
    &--button {
      width: 140px;
      height: 30px;
      font-family: $fontFamily-text;
      line-height: 21px;
      background: $color-background-medium;
      font-size: 14px;
      color: $color-background-medium-light-extra;
      padding: 3px 22px 7px 22px;
      border-radius: 3px;
      border: rgba(#000, 0.3);
      padding: 5px 20px;
      outline: none;
    }
    &-hidden {
      display: none;
    }
  }
  &-image {
    display: flex;
    justify-content: center;

    &--profile,
    &--preview {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $color-background-medium-light;
    }
    &--profile {
      width: 300px;
      height: 300px;
      display: none;
    }

    &--preview {
      width: 30px;
      height: 30px;
      margin-left: 15px;
      border: solid 1px $color-greenish;
    }
  }
}

.customize-menu__form-image--preview {
  height: 30px;
  width: 30px;
  border: 1px solid $color-greenish;
}

//SHARE

.gen-main__customize-share {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 7px 0px;
  border-bottom: 1px solid $color-border;
  &--hidden {
    padding: 20px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.customize-form__container {
  display: flex;
  position: relative;
  &-title {
    font-family: $fontFamily-text;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 12px;
    color: $color-background-medium-light;
  }
  &-logo {
    width: 21px;
    height: 18px;
  }
}

.customize-share__button {
  display: flex;
  flex-direction: row;
  width: 199px;
  height: 50px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  border-radius: 12px;
  border: 0px;
  font-family: $fontFamily-text;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-background-medium-light-extra;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 30px 0px 30px 0px;
  padding: 13px 18px 13px 48px;
  align-self: center;
  background-color: $color-background-medium;
  background-image: url(../../images/address.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 17px 14px;
  transition: ease 1s;
  cursor: pointer;
  @include tablet {
    align-self: center;
  }
}

.customize-share__web--hidden {
  font-family: $fontFamily-text;
  font-size: 12px;
  width: 292px;
  height: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-background-medium;
  margin: 5px 0px 35px 0px;
  text-align: center;
  @include tablet {
    margin: 10px 0px 40px 0px;
  }
}
.customize-share__text--hidden {
  text-align: center;
  font-family: $fontFamily-text;
  font-weight: 600;
  font-size: 18px;
  color: $color-background-medium-light-extra;
}

.customize-share__twitter--hidden {
  display: flex;
  flex-direction: row;
  width: 183px;
  height: 30px;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  background-color: $color-mediumblue;
  font-family: $fontFamily-text;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: normal;
  text-decoration: none;
  color: $color-white;
  margin: 10px 0px 0px 0px;
  padding: 3px 9px 7px 38px;
  background-image: url(../../images/twittersvg.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 10.5px 6px;
  @include tablet {
    margin: 0;
  }
}
.customize-form__container-btn {
  background-image: url(../../images/angle-down.svg);
  background-repeat: no-repeat;
  background-size: 16px 18px;
  width: 16px;
  height: 18px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0px;
  outline: none;
  margin: 3px 0px 6px 0px;
}

.customize-menu__form {
  position: relative;
  &-image--profile {
    display: none;
  }
}
// JS
.js__hidden,
.js__box-button-hidden,
.js__hiddenlink {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 0px;
}
.js__button-arrow {
  transform: rotate(180deg);
}

.js-cardCreated {
  background-color: $color-softwhite;
}

.js__hidden-img {
  display: none;
}

.js__error-message-name,
.js__error-message-job {
  position: absolute;
  margin-top: -15px;
  width: 100%;
  text-align: right;
  font-family: $fontFamily-text;
  font-weight: 700;
  color: $color-ferrarired;
}
.js-input {
  font-family: $fontFamily-title-secondary;
}
