<main role="main" class="main">
  <img
    src="./assets/images/awesome-1.svg"
    alt="Logo Awesome Profile Cards"
    title="Awesome Profile Cards"
    class="main__logo"
  />
  <div class="main__title-container">
    <h1 class="main__title">Crea tu tarjeta de visita</h1>
    <p class="main__text">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
  </div>
  <section class="main__benefits">
    <include
      src="./main-benefits.html"
      image="./assets/images/design.svg"
      alternative="Logo diseña"
      imagetitle="Diseña"
      classitem="main__benefits-itemimg"
      classbenefit="main__benefits-item main__benefits-item1"
    ></include>
    <include
      src="./main-benefits.html"
      image="./assets/images/keyboard.svg"
      alternative="Logo rellena"
      imagetitle="Rellena"
      classitem="main__benefits-itemimg"
      classbenefit="main__benefits-item main__benefits-item2"
    ></include>
    <include
      src="./main-benefits.html"
      image="./assets/images/share.svg"
      alternative="Logo comparte"
      imagetitle="Comparte"
      classitem="main__benefits-itemimg main__benefits-itemimg2"
      classbenefit="main__benefits-item main__benefits-item3"
    ></include>
  </section>
  <a
    class="main__button"
    title="Ir a crear la página"
    href="./card-generator.html"
    tabindex="1"
    >Comenzar</a
  >
</main>
