<!-- SHARE -->

<section class="gen-main__customize-share ">
  <div class="customize-share__container js-collapsable">
    <img class="customize-share__container-logo" src="./assets/images/share.svg" alt="Design profile area" />
    <h2 class="customize-share__container-title">Comparte</2>
    <button class="customize-share__container-btn js-arrow"></button>
  </div>
  <a class="customize-share__button js__hidden js-section js-createBtn js-cardCreated" title="Crear la tarjeta" href="" target="_blank">Crear tarjeta</a> 
</section>
<section class="gen-main__customize-share--hidden js__hiddenlink js-sectionHidden">
  <p class="customize-share__text--hidden">La tarjeta ha sido creada:</p>
  <a class="js-twitter-url customize-share__web--hidden" href="" target="_blank"></a>
  <a class="customize-share__twitter--hidden" href="">Compartir en twitter</a>
</section>